/* GLOBAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 24px;
  color: #fff;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

button:focus {
  outline: 0;
}

*:focus {
  outline: 0;
}

/* INPUT FORM */
.chat input[type="text"],
.search-form input[type="text"] {
  border: none;
  border-radius: 500px;
  font-size: 16px;
  padding: 10px;
}

.chat input[type="text"]::placeholder,
.search-form input[type="text"]::placeholder {
  color: #393939;
  font-size: 16px;
}

/* CHAT */
.chat {
  border-left: 0.5px solid #b7b7b7;
  border-right: 0.5px solid #b7b7b7;
}

.chat .header {
  background-color: #d91e36;
  width: 100%;
  padding: 10px 0px;
}

.header .content .profile-image {
  padding-left: 30px;
}

.header .content .profile-image img {
  max-width: 40px;
  height: 40px;
  border-radius: 500px;
}

.chat .input-form {
  height: 70px;
  background-color: #e6e1e1;
}

.chat .input-form input {
  padding-left: 50px;
  width: 100%;
}

.chat .input-form button {
  border: none;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 500px;
  cursor: pointer;
}

.chat .input-form i {
  padding: 6px;
  font-size: 24px;
  color: #d91e36;
}

.chat-main {
  overflow-y: scroll;
}

/* SIDEBAR */
.chat-sidebar {
  width: 35%;
}

.chat-sidebar .search-form {
  height: 60px;
}

.chat-sidebar .search-form .search-inner-form {
  position: relative;
}

.chat-sidebar .search-form input {
  background-color: #f1f1f1;
  text-indent: 50px;
  width: 100%;
}

.chat-sidebar .search-form i {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0;
  padding: 13px 24px;
  font-size: 20px;
  color: #393939;
}

/* OPTION BAR */
.option-bar {
  padding: 6px 0;
}

.option-bar-inner {
  border-radius: 500px;
  background-color: #f1f1f1;
  padding: 0 24px;
}

.option-bar ul li {
  list-style: none;
}

.option-bar i {
  color: #d91e36;
  font-size: 22px;
  padding: 12px 0;
}

/* USER LIST */
.user-list {
  background-color: #f1f1f1;
  margin: 20px 0;
  border-radius: 30px;
  padding: 30px 0;
  overflow: hidden;
}

.user-list-link {
  color: #393939;
  cursor: pointer;
}

.user-list-link:hover {
  text-decoration: none;
  color: #111111;
}

.user-list-single-user {
  padding-left: 4px;
  border-bottom: 1px solid #b7b7b7;
}

.user-list-single-user:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.active-user {
  padding-left: 0;
  background-color: #fff;
  border-bottom: 1px solid #d91e36;
  border-left: 4px solid #d91e36;
}

.active-user h2 {
  font-weight: 500;
}

.user-list-single-user .content {
  padding: 10px 20px;
}

.user-list-single-user img {
  height: 40px;
  border-radius: 500px;
  margin-right: 15px;
}

/* MESSAGE */
.sent-message,
.received-message {
  max-width: 60%;
}

.message-p {
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 20px;
  margin-bottom: 0;
  text-align: center;
}

.time-p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
}

.received-message .message-p {
  border-top-left-radius: 0;
  background: rgba(217, 30, 54, 0.6);
}

.received-message .time-p {
  margin-left: 1em;
}

.sent-message .message-p {
  border-top-right-radius: 0;
  background: rgba(217, 30, 54, 0.5);
}

.sent-message .time-p {
  margin-right: 1em;
}

/* OPTION BAR */
#logout-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* PROFILE DETAILS */
.profile-details li {
  list-style: none;
}

.profile-details h1 {
  color: #d91e36;
  text-align: center;
}

.custom-card {
  -webkit-box-shadow: 3px 3px 10px 0px rgba(41, 49, 50, 0.15);
  -moz-box-shadow: 3px 3px 10px 0px rgba(41, 49, 50, 0.15);
  box-shadow: 3px 3px 10px 0px rgba(41, 49, 50, 0.15);
  padding: 50px 80px 30px;
  border-radius: 20px;
}

.profile-details img {
  position: absolute;
  top: 10%;
  left: auto;
  right: auto;
  transform: translate(-50%);
  max-width: 160px;
}

.profile-stats,
.profile-info {
  padding-top: 40px;
}

.profile-stats h1,
.profile-info h1 {
  padding-bottom: 18px;
}

.profile-details .custom-card span {
  font-size: 14px;
  color: #293132;
  font-weight: 300;
}

.profile-details .custom-card p {
  font-size: 18px;
}

.profile-details .custom-card i {
  color: #d91e36;
  cursor: pointer;
}
